@font-face {
	font-family: 'Horizon';
	src: url('/fonts/Horizon/horizon.otf') format('opentype');
}


body
{
	background: #ffffff;
	background-image: url("../landpage.png");
	color: #ffffff;
	font-family: "Horizon";
}
header{

	width: 100%; /* Ensure the image doesn't exceed the width of the container */
	height: auto; /* Maintain the aspect ratio */
	display: block; /* Remove any extra spacing below the image */
	margin: 0 auto; /* Center the image horizontally */
	background: black;
	border-radius: 15px;
	border: 2px solid #00E8FF;
}
.frontboard {
	font-size: 25%;
	display: block;
	background: #000000;
	border: 2px solid black;
	border-radius: 25px;
	color: black;
	padding: 20px;
	text-align: center; /* Center the content horizontally */
  }
  
  .frontboard img {
	max-width: 25%; /* Ensure the image doesn't exceed the width of the container */
	height: auto; /* Maintain the aspect ratio */
	display: block; /* Remove any extra spacing below the image */
	margin: 0 auto; /* Center the image horizontally */
  }
.more{
	display: inline;
}
@media only screen and (min-width: 425px) and (max-width: 639px) {
	.more{
		margin-left: -6%;
	}
}
@media only screen and (min-width: 640px) and (max-width: 711px) {
	.more{
		margin-left: 5%;
	}
}
@media only screen and (min-width: 712px) and (max-width: 765px) {
	.more{
		margin-left: 12%;
	}
}
@media only screen and (min-width: 766px) and (max-width: 846px) {
	.more{
		margin-left: 17%;
	}
}
@media only screen and (min-width: 847px) and (max-width: 940px) {
	.more{
		margin-left: 27%;
	}
}
@media only screen and (min-width: 941px) and (max-width: 1023px) {
	.more{
		margin-left: 20%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
	.more{
		margin-left: 30%;
	}
}
@media only screen and (min-width: 1366px) and (max-width: 1565px) {
	.more{
		margin-left: 30%;
		display: inline;
		
	}
	
}

.articles{
	font-size: 200%;
	display: inline-block;
	margin: 5px;
	background: #202020;
	border: none;
	border-radius: 15px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 1%;
	color: white;
	
}
.articles:hover{
	            transition-duration: 1s;
	                        background: white;
	                                    color: #202020;
	                                    
}
.desc{
	display: block;
	background: #00E8FF;
	border: 2px solid black;
	border-radius: 25px;
	margin-top:10px;
	padding: 20px;
	color: black;
	text-align: center;
	font-family: "Horizon";
	margin: 1%;
	
}
.pagename{
	font-size: 300%;
	margin-top: none;
	margin-bottom: 1%;
	
}
.card{
	display: block;
	background: #000000;
	border: 2px solid #00E8FF;
	border-radius: 25px;
	margin-top:10px;
	padding: 20px;
	color: #00E8FF;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	font-family: "Horizon";
}
a:link, a:visited, a:hover, a:active{
	    text-decoration: none;
	    
}
.topic{
	font-size: 150%;
	border-bottom: 2px solid black;
	display: inline-block;
	margin-bottom: 2%;
	
}
.essay{
	font-size: 150%;
	margin: 1%;
	
}